* text=auto

*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf

*.png binary
*.ico binary
*.webp binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp3 binary
*.wav binary
